body {unicode-bidi: embed;direction: rtl;}
ul ul, ol ul, ul ol, ol ol {margin-left: 0;margin-right: 20px;}
dl {padding-right: 18px;}
ul {padding-right: 18px;}
ul li:before {text-align: center;left: auto;right: -17px;}
body {text-align: right;}
div {text-align: right;}
.cmsms_table tr td:first-child, .cmsms_table tr th:first-child {padding-right: 30px;border-right-width: 1px;border-right-style: solid;border-left: none;}
.cmsms_table tr td:last-child, .cmsms_table tr th:last-child {border-left-width: 1px;border-left-style: solid;padding-left: 30px;border-right: none;}
.cmsms_table tr td.cmsms_table_cell_aligncenter, .cmsms_table tr th.cmsms_table_cell_aligncenter {text-align: center;}
.cmsms_table tr td.cmsms_table_cell_alignright, .cmsms_table tr th.cmsms_table_cell_alignright {text-align: left;}
.preloader {text-align: center;}
.preloader .full-width {left: auto;right: 0;}
.preloader.highImg .full-width {left: auto;right: auto;}
.resizable_block .full-width {left: auto;right: 0;}
.cmsms_img_rollover_wrap .img_placeholder {left: auto;right: 0;}
.cmsms_img_rollover_wrap .img_placeholder:before {left: 0;right: 0;}
.cmsms_img_rollover_wrap .cmsms_img_rollover {left: auto;right: 0;}
.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link, .cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link {left: 0;right: 0;}
.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link .cmsms_open_plus, .cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link .cmsms_open_plus {left: auto;right: 50%;margin-left: 0;margin-right: -2.5px;}
.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link .cmsms_open_plus:before, .cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_link .cmsms_open_plus:before {left: auto;right: -13px;}
.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_image_link + .cmsms_open_link {left: -52px;right: 100%;}
.cmsms_img_rollover_wrap .cmsms_img_rollover .cmsms_open_post_link {left: auto;right: 0;}
.cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_open_link, .cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link.no_open_link {left: 0;right: 0;}
.cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link {left: 0;right: -62px;}
.cmsms_img_rollover_wrap:hover .cmsms_img_rollover .cmsms_image_link + .cmsms_open_link {left: -62px;right: 0;}
.alignleft, .fl {float: right;}
.alignright, .fr {float: left;}
img.alignleft, img.fl {margin-left: 20px;}
img.alignright, img.fr {margin-right: 20px;}
.tal, .ta_left {text-align: right;}
.aligncenter, .tac, .ta_center {text-align: center;}
.tar, .ta_right {text-align: left;}
.cmsms_video_wrap > div {left: auto;right: 0;}
.cmsms_video_wrap iframe {left: auto;right: 0;}
.cmsms_video_wrap .wp-video-shortcode, .cmsms_video_wrap .mejs-layer {left: auto;right: 0;}
.one_first, .one_half, .one_third, .two_third, .one_fourth, .three_fourth, .one_fifth, .one_sixth {float: right;}
.one_first {float: none;}
.meta_wrap > div[class^="cmsms-icon-"]:before, .meta_wrap > p[class^="cmsms-icon-"]:before, .meta_wrap > span[class^="cmsms-icon-"]:before, .meta_wrap > strong[class^="cmsms-icon-"]:before, .meta_wrap > div[class^="cmsms_theme_icon_"]:before, .meta_wrap > p[class^="cmsms_theme_icon_"]:before, .meta_wrap > span[class^="cmsms_theme_icon_"]:before, .meta_wrap > strong[class^="cmsms_theme_icon_"]:before, .meta_wrap > div[class*=" cmsms-icon-"]:before, .meta_wrap > p[class*=" cmsms-icon-"]:before, .meta_wrap > span[class*=" cmsms-icon-"]:before, .meta_wrap > strong[class*=" cmsms-icon-"]:before, .meta_wrap > div[class*=" cmsms_theme_icon_"]:before, .meta_wrap > p[class*=" cmsms_theme_icon_"]:before, .meta_wrap > span[class*=" cmsms_theme_icon_"]:before, .meta_wrap > strong[class*=" cmsms_theme_icon_"]:before {margin-left: .5em;margin-right: 0;}
nav > div > ul ul {left: auto;right: 0;}
nav > div > ul ul ul {left: auto;right: 100%;}
nav > div > ul > li {float: right;}
nav > div > ul > li.menu-item-dropdown-right > ul {left: 0;right: auto;}
nav > div > ul > li.menu-item-dropdown-right > ul ul {left: 100%;right: auto;}
#header nav > div > ul#navigation ul ul {margin-left: 0;margin-right: 20px;}
#header nav > div > ul#navigation ul li > a[data-tag]:before {float: none;}
#header nav > div > ul#navigation ul li > a[data-tag] > span {float: right;}
#header nav > div > ul#navigation li > a[data-tag]:before {float: left;margin-right: .6em;}
#header nav > div > ul#navigation > li.menu-item-mega.menu-item-dropdown-right > div.menu-item-mega-container {left: 0;right: auto;}
#header nav > div > ul#navigation > li.menu-item-mega.menu-item-dropdown-right > div.menu-item-mega-container ul {right: auto;left: auto;}
#header nav > div > ul#navigation > li.menu-item-mega ul {left: auto;right: auto;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container {left: auto;right: 0;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li a {padding-right: 20px;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li a {padding-right: 40px;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li a {padding-right: 60px;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li a {padding-right: 80px;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li a {padding-right: 100px;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li li a {padding-right: 120px;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li li li a {padding-right: 140px;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li li li li a {padding-right: 160px;}
#header nav > div > ul#navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li ul li li li li li li li li li li a {padding-right: 180px;}
#header.header_default .header_bot .header_bot_outer:before {left: auto;right: 0;}
#header.header_default.navi_scrolled .header_bot .header_bot_outer {left: auto;right: 0;}
#header .header_top .header_top_inner .header_top_left .meta_wrap > * {margin-left: 0;margin-right: 30px;}
#header .header_top .header_top_inner .header_top_right {float: left;}
#header .header_top .header_top_inner nav > div > ul > li > a > span.cmsms_count {margin-right: 7px;}
#header .header_top .header_top_inner nav > div > ul > li > a img {margin-left: 5px;}
#header .header_mid .logo_wrap .title_text {padding-left: 0;padding-right: 3px;}
#header .header_mid .logo_wrap .logo img {left: auto;right: 0;}
#header .header_mid .slogan_wrap {float: left;}
#header .header_mid .social_mid {float: left;}
#header .header_mid .social_mid .social_mid_inner .social_wrap .social_wrap_inner ul li {padding-right: 4px;}
#header .header_mid .social_mid .social_mid_inner .social_but_wrap .social_but {text-align: center;margin-left: 8px;margin-right: 0;}
#header .header_mid .social_mid.social_opened .social_but_wrap .social_but {margin-right: 30px;}
#header .search_wrap {float: left;}
#header .search_wrap .search_wrap_inner .search_wrap_in_inner .search_bar_wrap {float: right;margin-left: -40px;margin-right: 0;}
#header .search_wrap .search_wrap_inner .search_wrap_in_inner .search_bar_wrap input[type=text] {padding-left: 0;padding-right: 20px;}
#header .search_wrap .search_wrap_inner .search_wrap_in_inner .search_but {text-align: center;float: left;}
#header .slogan_wrap {margin-left: 30px;}
#header .slogan_wrap.slogan_closed {margin-left: 0;}
#header #navigation > li > a > span.nav_bg_hov {left: auto;right: 0;}
#header #navigation > li > a > span.nav_bg_clr {left: auto;right: 0;}
#header #navigation > li > a > span.nav_bg_clr:before {left: auto;right: 0;}
#header #navigation > li:first-child > a {-webkit-border-radius: 0 5px 0 0;-moz-border-radius: 0 5px 0 0;border-radius: 0 5px 0 0;}
#header #navigation ul {-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;}
#header #navigation [class^="cmsms-icon-"]:before, #header #navigation [class*=" cmsms-icon-"]:before {margin-left: 5px;}
#header .header_line_wrap {-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
#header .header_line_wrap .header_line nav {float: right;}
#header .header_line_wrap .header_line nav #navigation > li:first-child > a {-webkit-border-radius: 0 5px 0 0;-moz-border-radius: 0 5px 0 0;border-radius: 0 5px 0 0;}
#header .header_line_wrap .header_line nav #navigation > li:first-child > a > .nav_bg_clr:before, #header .header_line_wrap .header_line nav #navigation > li:first-child > a > .nav_bg_clr {-webkit-border-radius: 0 5px 0 0;-moz-border-radius: 0 5px 0 0;border-radius: 0 5px 0 0;}
#header.navi_scrolled .header_line_wrap .header_line nav #navigation > li:first-child > a > .nav_bg_clr:before, #header.navi_scrolled .header_line_wrap .header_line nav #navigation > li:first-child > a > .nav_bg_clr {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
.enable_header_centered #header .header_line {text-align: center;}
.enable_header_centered #header .header_line nav {float: none;}
.enable_header_right #header .header_line nav {float: left;}
.enable_header_right #header .header_line nav #navigation > li:last-child > a {-webkit-border-radius: 5px 0 0 0;-moz-border-radius: 5px 0 0 0;border-radius: 5px 0 0 0;}
.enable_header_right #header .header_line nav #navigation > li:last-child > a > .nav_bg_clr {-webkit-border-radius: 5px 0 0 0;-moz-border-radius: 5px 0 0 0;border-radius: 5px 0 0 0;}
.headline .headline_outer .headline_color {left: auto;right: 0;}
.headline .headline_outer .headline_inner .headline_table_wrap .headline_text.headline_icon {padding-right: 50px;}
.headline .headline_outer .headline_inner .headline_table_wrap .headline_text:before {left: auto;right: 0;}
.headline .headline_outer .headline_inner .headline_table_wrap .cmsms_breadcrumbs .cmsms_breadcrumbs_inner {text-align: left;}
.cmsms_row .cmsms_row_overlay {left: auto;right: 0;}
.content_wrap.r_sidebar:before {margin-left: 9px;right: auto;left: 25.5%;}
.content_wrap.l_sidebar:before {margin-right: 9px;left: auto;right: 25.5%;}
.content {padding-left: 20px;padding-right: 0;float: right;}
.content.fr {padding-left: 0;padding-right: 20px;float: left;}
.sidebar {padding-left: 0;padding-right: 20px;float: left;}
.sidebar.fl {padding-left: 20px;padding-right: 0;float: right;}
.bottom_inner aside {float: right;}
.cmsms_notice[class*=" cmsms-icon-"], .cmsms_notice[class*=" cmsms_theme_icon_"] {padding-right: 72px;}
.cmsms_notice:before {padding-left: 18px;margin-left: 0;left: auto;right: 9px;}
.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item {float: right;}
.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item {float: none;}
.cmsms_tabs.tabs_mode_tour .cmsms_tabs_wrap {float: left;}
.cmsms_tabs.tabs_mode_tour.tabs_pos_right .cmsms_tabs_wrap {float: right;}
.cmsms_icon_list_items.cmsms_icon_list_type_block .cmsms_icon_list_item .cmsms_icon_list_icon {text-align: center;}
#slide_top {text-align: center;right: auto;left: 20px;}
.cmsms_hover_slider .cmsms_hover_slider_items > li {left: auto;right: 0;}
.owl-carousel {direction: ltr;}
.owl-carousel .owl-controls .owl-pagination {right: auto;left: 20px;}
.owl-carousel .owl-controls .owl-pagination .owl-page {margin-right: 5px;}
.footer_inner {text-align: center;}
.footer_inner nav > div {text-align: center;}
.footer_inner .social_wrap .social_wrap_inner {text-align: center;}
.footer_inner .social_wrap .social_wrap_inner ul li {padding-right: 10px;}
.footer_inner .footer_custom_html {text-align: center;}
.cmsms_footer_small .footer_inner {text-align: right;}
.cmsms_footer_small .footer_inner nav {float: left;}
.cmsms_footer_small .footer_inner .social_wrap {float: left;}
.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner {text-align: right;}
.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner ul li {padding-right: 5px;}
.cmsms_footer_small .footer_inner .social_wrap .social_wrap_inner ul li:first-child {padding-right: 0;}
.cmsms_footer_small .footer_inner .footer_custom_html {float: left;text-align: right;}
.fixed_footer #footer .footer_inner .footer_nav > li:before {left: auto;right: 0;}
.cmsms_wrap_post_loader {text-align: center;}
.cmsms_wrap_pagination {text-align: center;}
.cmsms_wrap_pagination ul li {padding-left: 0;padding-right: 3px;float: right;}
.cmsms_wrap_pagination ul li:first-child {padding-right: 0;}
.cmsms_wrap_pagination ul li .page-numbers .cmsms_prev_arrow {right: auto;left: -10px;}
.cmsms_wrap_pagination ul li .page-numbers .cmsms_prev_arrow:before {content: "";}
.cmsms_wrap_pagination ul li .page-numbers .cmsms_next_arrow {left: auto;right: -11px;}
.cmsms_wrap_pagination ul li .page-numbers .cmsms_next_arrow:before {content: "";}
.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but {float: left;}
.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but:before {margin-left: 10px;margin-right: -10px;}
.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list {padding-left: 5px;padding-right: 0;text-align: left;}
.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_list li:first-child {padding-right: 0;}
.cmsms_post_filter_wrap .cmsms_post_filter .cmsms_post_filter_block .cmsms_post_filter_but.current + .cmsms_post_filter_list > li {padding-left: 0;padding-right: 5px;}
.cmsmsLike, .cmsms_post_comments, .cmsms_search_post_comments, .cmsms_search_post_date, .cmsms_slider_post_comments, .cmsms_project_comments, .cmsms_slider_project_comments, .cmsms_profile_comments {padding-right: 22px;padding-left: 0;}
.cmsmsLike:before, .cmsms_post_comments:before, .cmsms_search_post_comments:before, .cmsms_slider_post_comments:before, .cmsms_project_comments:before, .cmsms_slider_project_comments:before, .cmsms_profile_comments:before {left: auto;right: 0;}
.cmsms_post_comments, .cmsms_search_post_comments, .cmsms_slider_post_comments, .cmsms_project_comments, .cmsms_slider_project_comments, .cmsms_profile_comments {padding-right: 24px;}
.blog.columns .post {float: right;}
.blog .cmsms_default_type .cmsms_post_info {float: right;}
.post .cmsms_post_cont .cmsmsLike, .post .cmsms_post_cont .cmsms_post_comments {float: left;}
.post.format-aside .cmsms_post_cont .cmsms_post_content, .post.format-status .cmsms_post_cont .cmsms_post_content {text-align: center;}
.post.format-aside .cmsms_post_cont .cmsms_post_content > div, .post.format-status .cmsms_post_cont .cmsms_post_content > div {text-align: center;}
.post.format-chat .cmsms_post_cont .cmsms_chat {padding-right: 0;}
.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_item:before {left: auto;right: 0;}
.post.format-chat .cmsms_post_cont .cmsms_chat .cmsms_chat_item .cmsms_chat_author_time .cmsms_chat_time {padding-right: 10px;float: left;}
.post.cmsms_default_type .cmsms_post_info {float: right;}
.post.cmsms_default_type .cmsms_post_cont_info > * {margin-right: 20px;margin-left: 0;}
.post.cmsms_default_type .cmsms_post_cont_info > *:last-child {margin-right: 0;}
.post.cmsms_default_type .cmsms_post_date {padding-left: 1px;text-align: left;}
.post.cmsms_default_type .cmsms_post_date .cmsms_year {padding-left: 1px;}
.post.cmsms_default_type .cmsms_post_cont_wrap {padding-right: 55px;padding-left: 0;}
.post.cmsms_default_type.format-quote .cmsms_post_cont {padding-left: 40px;padding-right: 35px;}
.post.cmsms_default_type.format-quote .cmsms_post_cont:before {left: auto;right: -17px;border-left-width: 17px;border-left-style: solid;border-right: none;}
.post.cmsms_default_type.format-quote .cmsms_post_cont:after {left: auto;right: -11px;border-left-width: 12px;border-left-style: solid;border-right: none;}
.post.cmsms_default_type.format-quote .cmsms_post_cont .cmsms_post_footer > * {margin-right: 20px;margin-left: 0;}
.post.cmsms_default_type.format-quote .cmsms_post_cont .cmsms_quote_author {padding-left: 0;padding-right: 55px;}
.post.cmsms_masonry_type .cmsms_post_format_img {float: right;margin-left: 15px;margin-right: 0;}
.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_cont_info > * {margin-right: 10px;}
.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_cont_info > *:first-child {margin-right: 0;}
.post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsmsLike, .post.cmsms_masonry_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_comments {margin-right: 20px;margin-left: 0;}
.post.cmsms_masonry_type.format-gallery .cmsms_owl_slider .owl-pagination {right: auto;left: 15px;}
.post.cmsms_masonry_type.format-quote .cmsms_post_cont .cmsms_quote_content {padding-left: 15px;padding-right: 50px;}
.post.cmsms_masonry_type.format-quote .cmsms_post_cont .cmsms_quote_content:before {left: auto;right: 15px;}
.post.cmsms_masonry_type.format-quote .cmsms_post_cont .cmsms_quote_author {padding-right: 50px;}
.post.cmsms_masonry_type.format-status .cmsms_post_cont .cmsms_post_format_img, .post.cmsms_masonry_type.format-aside .cmsms_post_cont .cmsms_post_format_img {float: none;}
.post.cmsms_masonry_type.format-status .cmsms_post_cont .cmsms_post_cont_info:before, .post.cmsms_masonry_type.format-aside .cmsms_post_cont .cmsms_post_cont_info:before {left: auto;right: 0;}
.post.cmsms_masonry_type.format-status .cmsms_post_cont .cmsms_post_footer:before, .post.cmsms_masonry_type.format-aside .cmsms_post_cont .cmsms_post_footer:before {left: auto;right: 0;}
.post.cmsms_timeline_type .cmsms_post_date {text-align: center;}
.post.cmsms_timeline_type .cmsms_post_format_img {float: right;margin-left: 15px;margin-right: 0;}
.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_cont_info > * {margin-right: 15px;margin-left: 0;}
.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_cont_info > *:last-child {margin-right: 0;}
.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_footer > * {margin-right: 15px;margin-left: 0;}
.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_footer > *:first-child {margin-right: 0;}
.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_footer .cmsmsLike {float: right;}
.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_comments {float: right;}
.post.cmsms_timeline_type .cmsms_post_cont .cmsms_post_footer .cmsms_post_read_more {float: left;}
.post.cmsms_timeline_type.format-aside .cmsms_post_cont .cmsms_post_format_img, .post.cmsms_timeline_type.format-status .cmsms_post_cont .cmsms_post_format_img {float: none;}
.post.cmsms_timeline_type.format-aside .cmsms_post_cont .cmsms_post_cont_info:before, .post.cmsms_timeline_type.format-status .cmsms_post_cont .cmsms_post_cont_info:before {left: auto;right: 0;}
.post.cmsms_timeline_type.format-aside .cmsms_post_cont .cmsms_post_footer:before, .post.cmsms_timeline_type.format-status .cmsms_post_cont .cmsms_post_footer:before {left: auto;right: 0;}
.post.cmsms_timeline_type.format-quote .cmsms_post_cont .cmsms_quote_content {padding-left: 15px;padding-right: 50px;}
.post.cmsms_timeline_type.format-quote .cmsms_post_cont .cmsms_quote_content:before {left: auto;right: 15px;}
.post.cmsms_timeline_type.format-quote .cmsms_post_cont .cmsms_quote_author {padding-right: 50px;}
.opened-article .post .cmsms_post_header {padding-left: 0;padding-right: 85px;}
.opened-article .post .cmsms_post_header .cmsms_post_format_img {left: auto;right: 0;}
.opened-article .post .cmsms_post_footer .cmsms_post_meta_info {float: left;}
.opened-article .post .cmsms_post_footer .cmsms_post_meta_info * {margin-right: 20px;}
.opened-article .post .cmsms_post_footer .cmsms_post_meta_info *:first-child {margin-right: 0;}
.opened-article .post .cmsms_post_footer .cmsms_post_cont_info {padding-left: 15px;}
.opened-article .post .cmsms_post_footer .cmsms_post_cont_info > * {margin-right: 20px;}
.opened-article .post .cmsms_post_footer .cmsms_post_cont_info > *:first-child {margin-right: 0;}
.opened-article .post.format-aside .cmsms_post_cont .cmsms_post_footer .cmsmsLike, .opened-article .post.format-status .cmsms_post_cont .cmsms_post_footer .cmsmsLike, .opened-article .post.format-aside .cmsms_post_cont .cmsms_post_footer .cmsms_post_comments, .opened-article .post.format-status .cmsms_post_cont .cmsms_post_footer .cmsms_post_comments {float: right;}
.opened-article .post.format-quote .cmsms_post_format_img {float: right;}
.opened-article .post.format-quote .cmsms_post_cont_wrap {padding-right: 30px;}
.opened-article .post.format-quote .cmsms_post_cont_wrap .cmsms_post_cont .cmsms_post_footer .cmsms_post_cont_info > * {margin-right: 20px;}
.opened-article .post.format-quote .cmsms_post_cont_wrap .cmsms_post_cont .cmsms_post_footer .cmsms_post_cont_info > *:first-child {margin-right: 0;}
.opened-article .post.format-quote .cmsms_post_cont_wrap .cmsms_post_cont .cmsms_post_footer .cmsms_post_meta_info > * {margin-right: 20px;}
.opened-article .post.format-quote .cmsms_post_cont_wrap .cmsms_post_cont .cmsms_quote_author {padding-left: 0;padding-right: 55px;}
.post_nav > span.cmsms_next_post {float: left;padding-left: 30px;}
.post_nav > span.cmsms_next_post .cmsms_next_arrow {right: auto;left: 0;}
.post_nav > span.cmsms_next_post .cmsms_next_arrow:before {content: "";}
.post_nav > span.cmsms_prev_post {float: right;padding-right: 30px;}
.post_nav > span.cmsms_prev_post .cmsms_prev_arrow {left: auto;right: 0;}
.post_nav > span.cmsms_prev_post .cmsms_prev_arrow:before {content: "";}
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_cont_wrap > *, .portfolio.puzzle .project .project_outer .project_inner .cmsms_project_cont_wrap > * {-webkit-transform: translateX(100%);-moz-transform: translateX(100%);-ms-transform: translateX(100%);-o-transform: translateX(100%);transform: translateX(100%);}
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner:hover .cmsms_slider_project_cont_wrap > *, .portfolio.puzzle .project .project_outer .project_inner:hover .cmsms_project_cont_wrap > * {-webkit-transform: translateX(0);-moz-transform: translateX(0);-ms-transform: translateX(0);-o-transform: translateX(0);transform: translateX(0);}
.share_posts > .fl {padding-left: 20px;padding-right: 0;}
.share_posts .cmsms_social a {padding-left: 10px;padding-right: 2px;}
.about_author .about_author_inner .alignleft {margin-left: 40px;margin-right: 0;}
.about_author .about_author_inner .social_wrap .social_wrap_inner ul li {margin-right: 20px;}
.about_author .about_author_inner .social_wrap .social_wrap_inner ul li:first-child {margin-right: 0;}
.related_posts > ul li {float: right;margin-left: 4px;margin-right: 0;}
.related_posts > ul li > a {-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
.related_posts .related_posts_content {-webkit-border-radius: 5px 0 5px 5px;-moz-border-radius: 5px 0 5px 5px;border-radius: 5px 0 5px 5px;}
.related_posts .related_posts_content .related_posts_content_tab .rel_post_content figure.alignleft {margin-left: 30px;margin-right: 0;}
.related_posts .related_posts_content .related_posts_content_tab .rel_post_content figure.alignleft .img_placeholder:before {left: 0;right: 0;}
.post_comments .commentlist > li.bypostauthor > .comment-body .fn:before {margin-left: 10px;margin-right: 5px;}
.post_comments .commentlist .comment-body .alignleft {text-align: center;margin-left: 40px;margin-right: 0;}
.post_comments .commentlist .comment-body .comment-content .comment-reply-link {float: left;}
.post_comments .commentlist .comment-body .comment-content .published {float: left;}
.post_comments .commentlist ul {padding-right: 20px;padding-left: 0;}
.comment-respond .comment-reply-title small {float: left;}
.comment-respond .comment-form .comment-form-author, .comment-respond .comment-form .comment-form-email, .comment-respond .comment-form .comment-form-url {float: right;}
.cmsms_wrap_project_loader {text-align: center;}
.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block {float: left;margin-left: 0;margin-right: 5px;}
.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but {padding-left: 40px;padding-right: 20px;margin-right: 5px;}
.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_sort_block .cmsms_project_sort_but:before {right: auto;left: 15px;}
.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but {float: left;}
.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but:before {margin-left: 10px;margin-right: -10px;}
.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list {padding-left: 5px;padding-right: 0;text-align: left;}
.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_list li:first-child {padding-right: 0;}
.cmsms_project_filter_wrap .cmsms_project_filter .cmsms_project_filter_block .cmsms_project_filter_but.current + .cmsms_project_filter_list > li {padding-left: 0;padding-right: 5px;}
.portfolio .project {float: right;}
.portfolio .project .project_outer .project_inner .cmsms_project_footer {float: left;}
.portfolio .project .project_outer .project_inner .cmsms_project_footer a {margin-right: 10px;}
.portfolio.opened-article .project {float: none;}
.portfolio.small_gap .project .project_outer {margin-left: 1px;}
.portfolio.puzzle .project .project_outer .project_inner {left: 0;right: 0;}
.portfolio.puzzle .project .project_outer .project_inner .cmsms_project_footer {float: none;right: auto;left: 100%;}
.portfolio.puzzle .project .project_outer .project_inner .cmsms_project_footer > *:first-child {margin-right: 0;}
.portfolio.puzzle .project .project_outer .project_inner .cmsms_project_cont_wrap {left: auto;right: 0;}
.portfolio.puzzle .project .project_outer:hover figure .cmsms_img_rollover .cmsms_open_link {left: 0;right: 0;}
.portfolio.puzzle .project .project_outer:hover .cmsms_project_footer {right: auto;left: 0;}
.portfolio.opened-article .project {float: none;}
.portfolio.opened-article .project .cmsms_project_header .cmsms_project_header_inner {text-align: center;}
.portfolio.opened-article .project .project_content.with_sidebar {padding-left: 60px;float: right;}
.portfolio.opened-article .project .project_sidebar {float: right;}
.portfolio.opened-article .project .project_sidebar .project_details .project_details_item > div {float: right;}
.portfolio.opened-article .project .project_sidebar .project_details .project_details_item .project_details_item_desc {text-align: left;}
.portfolio.opened-article .project .project_sidebar .project_features .project_features_item > div {float: right;}
.portfolio.opened-article .project .project_sidebar .project_features .project_features_item .project_features_item_desc {text-align: left;}
.portfolio.opened-article .project .project_sidebar .share_posts .share_posts_item {float: right;}
.profiles.opened-article .profile .cmsms_profile_header .cmsms_profile_header_inner {text-align: center;}
.profiles.opened-article .profile .profile_content.with_sidebar {padding-left: 40px;float: right;}
.profiles.opened-article .profile .profile_sidebar {float: right;}
.profiles.opened-article .profile .profile_sidebar .profile_details .profile_details_item > div {float: right;}
.profiles.opened-article .profile .profile_sidebar .profile_details .profile_details_item .profile_details_item_title {padding-left: 15px;}
.profiles.opened-article .profile .profile_sidebar .profile_details .profile_details_item .profile_details_item_desc {text-align: left;}
.profiles.opened-article .profile .profile_sidebar .profile_details .profile_details_item .profile_details_item_desc .cmsms_profile_comments, .profiles.opened-article .profile .profile_sidebar .profile_details .profile_details_item .profile_details_item_desc .cmsmsLike {margin-left: 1.5em;margin-right: 0;}
.profiles.opened-article .profile .profile_sidebar .profile_features .profile_features_item > div {float: right;}
.profiles.opened-article .profile .profile_sidebar .profile_features .profile_features_item .profile_features_item_desc {text-align: left;}
.profiles.opened-article .profile .profile_sidebar .profile_social_icons .profile_social_icons_list li a:before {left: 0;right: 0;}
.cmsms_profile.vertical .pl_content_meta .pl_social_list li:first-child {padding-right: 0;}
.cmsms_profile.vertical .profile {direction: ltr;}
.cmsms_profile.vertical .profile:nth-child(2n) .pl_content_meta, .cmsms_profile.vertical .profile:nth-child(2n) .pl_content, .cmsms_profile.vertical .pl_content, .cmsms_profile.vertical .pl_content_meta {direction: rtl;}
.cmsms_profile.horizontal .profile {text-align: center;}
.cmsms_profile.horizontal .pl_subtitle {text-align: center;}
.cmsms_profile.horizontal .entry-title {text-align: center;}
.cmsms_profile.horizontal .pl_img .pl_social {left: 0;right: 0;}
.cmsms_profile.horizontal .pl_img .pl_social .pl_social_list {text-align: center;left: 0;right: 0;}
.cmsms_profile.horizontal .entry-content {text-align: center;}
.cmsms_divider.cmsms_divider_width_short {left: auto;right: 30%;}
.cmsms_divider.cmsms_divider_width_short.cmsms_divider_pos_center {left: auto;right: 40%;}
.cmsms_divider.cmsms_divider_width_short.cmsms_divider_pos_right {left: auto;right: 80%;}
.cmsms_divider.cmsms_divider_width_medium.cmsms_divider_pos_center {left: auto;right: 30%;}
.cmsms_divider.cmsms_divider_width_medium.cmsms_divider_pos_right {left: auto;right: 60%;}
.cmsms_heading_wrap .cmsms_headinga:before, .cmsms_heading_wrap .cmsms_heading:before {margin-left: .5em;margin-right: 0;}
.cmsms_heading_wrap.cmsms_heading_divider_short .cmsms_heading_divider_left {margin-right: -10%;}
.cmsms_heading_wrap.cmsms_heading_divider_medium .cmsms_heading_divider_left {margin-right: -20%;}
.cmsms_heading_wrap.cmsms_heading_divider_long .cmsms_heading_divider_left {margin-right: -100%;}
.cmsms_notice .notice_close {text-align: center;right: auto;left: -14px;}
.cmsms_icon_box.cmsms_icon_top .icon_box_inner, .cmsms_icon_box.cmsms_icon_box_top .icon_box_inner {text-align: center;}
.cmsms_icon_box.cmsms_icon_top .icon_box_inner .icon_box_text, .cmsms_icon_box.cmsms_icon_box_top .icon_box_inner .icon_box_text {text-align: center;}
.cmsms_icon_box.cmsms_icon_heading_left.box_icon_type_number .icon_box_heading:before {text-align: center;}
.cmsms_icon_box.box_icon_type_number:before {text-align: center;}
.cmsms_icon_box.cmsms_box_heading h1:before, .cmsms_icon_box.cmsms_box_heading h2:before, .cmsms_icon_box.cmsms_box_heading h3:before {margin-left: 15px;}
.cmsms_icon_box.cmsms_icon_box_left_top, .cmsms_icon_box.cmsms_icon_box_left {padding-right: 60px;}
.cmsms_icon_box.cmsms_icon_box_left_top:before, .cmsms_icon_box.cmsms_icon_box_left:before {left: auto;right: 0;text-align: center;}
.cmsms_icon_box.cmsms_icon_top:before, .cmsms_icon_box.cmsms_icon_box_top:before {left: auto;right: 50%;}
.cmsms_icon_box.cmsms_icon_heading_left h1:before, .cmsms_icon_box.cmsms_icon_heading_left h2:before, .cmsms_icon_box.cmsms_icon_heading_left h3:before, .cmsms_icon_box.cmsms_icon_heading_left h4:before, .cmsms_icon_box.cmsms_icon_heading_left h5:before, .cmsms_icon_box.cmsms_icon_heading_left h6:before {margin-left: 15px;}
.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > .cmsms_toggle_plus {right: auto;left: 14px;}
.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > .cmsms_toggle_plus .cmsms_toggle_plus_hor {left: auto;right: 0;}
.cmsms_toggles .cmsms_toggle_wrap .cmsms_toggle_title > .cmsms_toggle_plus .cmsms_toggle_plus_vert {left: auto;right: 6px;}
.cmsms_toggles.toggles_mode_toggle .cmsms_toggle_wrap .cmsms_toggle_title > a {padding-left: 25px;padding-right: 0;}
.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_title > .cmsms_toggle_plus {right: auto;left: 34px;}
.cmsms_toggles.toggles_mode_accordion .cmsms_toggle_title > a {padding-left: 45px;padding-right: 20px;}
.cmsms_tabs .cmsms_tabs_list .cmsms_tabs_list_item > a:before {left: auto;right: 30px;}
.cmsms_tabs.tabs_mode_tab .cmsms_tabs_list .cmsms_tabs_list_item {margin-left: 3px;margin-right: 0;}
.cmsms_tabs.tabs_mode_tab .cmsms_tabs_list .cmsms_tabs_list_item > a {-webkit-border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;border-radius: 6px 6px 0 0;}
.cmsms_tabs.tabs_mode_tab .cmsms_tabs_list .cmsms_tabs_list_item > a span {-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
.cmsms_tabs.tabs_mode_tab .cmsms_tabs_list .cmsms_tabs_list_item > a span:before {left: auto;right: 0;}
.cmsms_tabs.tabs_mode_tab .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms-icon-"] span {padding-right: 45px;}
.cmsms_tabs.tabs_mode_tab .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms-icon-"]:before {left: auto;right: 15px;}
.cmsms_tabs.tabs_mode_tab .cmsms_tabs_wrap {-webkit-border-radius: 5px 0 5px 5px;-moz-border-radius: 5px 0 5px 5px;border-radius: 5px 0 5px 5px;}
.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item:first-child > a {-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item:last-child > a {-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;}
.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item > a[class^="cmsms-icon-"] {padding-left: 20px;padding-right: 50px;}
.cmsms_tabs.tabs_mode_tour .cmsms_tabs_list .cmsms_tabs_list_item > a:before {left: auto;right: 20px;}
.widget_custom_popular_projects_entries .owl-buttons:before, .widget_custom_latest_projects_entries .owl-buttons:before {left: 7px;}
.cmsms_icon_list_items .cmsms_icon_list_item .cmsms_icon_list_icon:after {left: auto;right: -1px;}
.cmsms_icon_list_items.cmsms_icon_list_pos_right .cmsms_icon_list_item:before {left: 50px;right: auto;}
.cmsms_icon_list_items.cmsms_icon_list_type_list {padding-right: 30px;}
.cmsms_icon_list_items.cmsms_icon_list_type_list .cmsms_icon_list_item:before {left: auto;right: -32px;}
.cmsms_counters {text-align: center;}
.cmsms_counters .cmsms_counter_wrap {text-align: center;float: none;}
.cmsms_counters .cmsms_counter_wrap .cmsms_counter {text-align: center;}
.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner {text-align: center;}
.cmsms_counters .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner:before {left: auto;right: 50%;}
.cmsms_counters .cmsms_counter_wrap .cmsms_counter_subtitle {text-align: center;}
.cmsms_counters.counters_type_horizontal .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner {text-align: right;}
.cmsms_counters.counters_type_horizontal .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner:before {left: auto;right: 0;}
.cmsms_counters.counters_type_horizontal .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_counter_wrap {text-align: right;}
.cmsms_counters.counters_type_horizontal .cmsms_counter_wrap .cmsms_counter .cmsms_counter_inner .cmsms_counter_title {text-align: right;}
.cmsms_counters.counters_type_horizontal .cmsms_counter_subtitle {text-align: right;}
.cmsms_stats {text-align: center;}
.cmsms_stats.stats_mode_bars.stats_type_horizontal:before {left: auto;right: 122px;}
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap {padding-right: 145px;}
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title {left: auto;right: -145px;text-align: left;}
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {right: auto;left: 15px;}
.cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms-icon-"]:before, .cmsms_stats.stats_mode_bars.stats_type_horizontal .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms-icon-"]:before {left: auto;right: 15px;}
.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat {left: auto;right: 0;}
.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms-icon-"]:before, .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms-icon-"]:before, .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class^="cmsms_theme_icon_"]:before, .cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner[class*=" cmsms_theme_icon_"]:before {left: 15px;right: auto;}
.cmsms_stats.stats_mode_bars.stats_type_vertical .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {left: auto;right: 15px;}
.cmsms_stats.stats_mode_circles .cmsms_stat_wrap {text-align: center;}
.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat_subtitle {text-align: center;}
.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner {text-align: center;left: auto;right: 8px;}
.cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_title, .cmsms_stats.stats_mode_circles .cmsms_stat_wrap .cmsms_stat .cmsms_stat_inner .cmsms_stat_counter_wrap {text-align: center;}
.owl-buttons {right: auto;left: 18px;direction: ltr;}
.owl-buttons .owl-prev, .owl-buttons .owl-next {text-align: left;}
.owl-pagination {right: auto;left: 20px;}
.cmsms_quotes_slider .quote_content:before {left: auto;right: 28px;}
.cmsms_quotes_slider .quote_content:after {left: auto;right: 28px;}
.cmsms_quotes_slider .owl-buttons {right: auto;left: 12px;}
.cmsms_quotes_slider .quote_image {float: right;margin-left: 15px;margin-right: 20px;}
.quote_grid.quote_four:after, .quote_grid.quote_four:before, .quote_grid.quote_three:before {left: auto;right: 66.66%;border-right-width: 4px;border-right-style: solid;}
.quote_grid.quote_one .cmsms_quote {float: none;}
.quote_grid.quote_two .quote_vert {left: auto;right: 50%;}
.quote_grid.quote_three .quote_vert {left: auto;right: 33.33%;}
.quote_grid.quote_three .cmsms_quote .quote_image {float: none;text-align: center;}
.quote_grid.quote_four:before {left: auto;right: 50%;}
.quote_grid.quote_four:after {left: auto;right: 75%;}
.quote_grid.quote_four .quote_vert {left: auto;right: 25%;}
.quote_grid.quote_four .cmsms_quote .quote_image {float: none;text-align: center;}
.quote_grid .quote_image {margin-left: 40px;float: right;}
.quote_grid .quote_image:before {right: auto;left: 0;content: "“";text-align: center;}
.quote_grid .cmsms_quote {float: right;}
.quote_grid .cmsms_quote .cmsms_quote_inner {text-align: center;}
.quote_grid .cmsms_quote .cmsms_quote_inner .quote_content_wrap {text-align: right;}
.quote_grid .quotes_list {padding-right: 0;}
.cmsms_pricing_table .cmsms_pricing_item {float: right;text-align: center;}
.cmsms_pricing_table .cmsms_pricing_item .feature_list {padding-right: 0;}
.cmsms_pricing_table .cmsms_pricing_item .feature_list [class*="cmsms-icon-"]:before {margin-left: 10px;}
.cmsms_pricing_table .cmsms_pricing_item .cmsms_price_wrap {text-align: center;}
.cmsms_pricing_table .cmsms_pricing_item .cmsms_price_wrap:after {left: auto;right: 50%;margin-right: -22.5px;}
.cmsms_pricing_table .cmsms_pricing_item .cmsms_price_wrap:before {left: auto;right: 50%;margin-right: -22.5px;}
.cmsms_twitter .owl-buttons {right: auto;left: 0;}
.cmsms_twitter .cmsms_twitter_item {padding-left: 50px;padding-right: 100px;direction: rtl;}
.cmsms_twitter .cmsms_twitter_item .cmsms_twitter_item_content {padding-left: 15px;direction: rtl;}
.cmsms_twitter .cmsms_twitter_item .published {direction: rtl;}
.twr_icon {left: auto;right: 15px;}
.cmsms_clients_item {text-align: center;}
.cmsms_clients_grid .cmsms_clients_item {float: right;}
.cmsms_clients_grid.clients_one .cmsms_clients_item:last-child, .cmsms_clients_grid.clients_one .cmsms_clients_item {border-left-width: 4px;border-left-style: solid;float: none;}
.cmsms_clients_grid.clients_two .cmsms_clients_item:nth-child(2n+1), .cmsms_clients_grid.clients_three .cmsms_clients_item:nth-child(3n+1), .cmsms_clients_grid.clients_four .cmsms_clients_item:nth-child(4n+1), .cmsms_clients_grid.clients_five .cmsms_clients_item:nth-child(5n+1) {-webkit-border-radius: 0 5px 5px 0;-moz-border-radius: 0 5px 5px 0;border-radius: 0 5px 5px 0;border-right-width: 4px;border-right-style: solid;}
.cmsms_clients_grid .cmsms_clients_item:last-child {border-left-width: 4px;border-left-style: solid;}
.cmsms_clients_grid.clients_two .cmsms_clients_item:nth-child(2n), .cmsms_clients_grid.clients_three .cmsms_clients_item:nth-child(3n), .cmsms_clients_grid.clients_four .cmsms_clients_item:nth-child(4n), .cmsms_clients_grid.clients_five .cmsms_clients_item:nth-child(5n) {-webkit-border-radius: 5px 0 0 5px;-moz-border-radius: 5px 0 0 5px;border-radius: 5px 0 0 5px;border-left-width: 4px;border-left-style: solid;}
.cmsms_posts_slider .post .cmsms_slider_post_format_img {left: 0;right: 0;}
.cmsms_posts_slider .post .cmsms_slider_post_format_img:before {left: 0;right: 0;}
.cmsms_posts_slider .post .cmsms_slider_post_cont span.cmsms_post_format_img {left: auto;right: 0;-webkit-border-radius: 0 5px 5px 0;-moz-border-radius: 0 5px 5px 0;border-radius: 0 5px 5px 0;border-left: 1px solid rgba(255,255,255,.3);}
.cmsms_posts_slider .post .cmsms_slider_post_cont span.cmsms_post_format_img .cmsms_slider_post_date {text-align: center;}
.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_cont_wrap {left: auto;right: 0;padding-right: 60px;}
.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_cont_info > span {margin-right: 10px;}
.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_cont_info > span:first-child {margin-right: 0;}
.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer {right: auto;left: 0;}
.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info {float: none;}
.cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsmsLike, .cmsms_posts_slider .post .cmsms_slider_post_cont .cmsms_slider_post_footer .cmsms_slider_post_meta_info .cmsms_slider_post_comments {margin-right: 15px;margin-left: 0;float: left;}
.cmsms_posts_slider .owl-controls .owl-buttons .owl-prev, .cmsms_posts_slider .owl-controls .owl-buttons .owl-next {float: left;}
.cmsms_posts_slider .owl-controls .owl-buttons {margin: 0 auto;width: 70px;}
.cmsms_posts_slider .post.format-gallery .cmsms_slider_post_cont_wrap, .cmsms_posts_slider .post.format-image .cmsms_slider_post_cont_wrap, .cmsms_posts_slider .post.format-standard .cmsms_slider_post_cont_wrap, .cmsms_posts_slider .post.format-audio .cmsms_slider_post_cont_wrap, .cmsms_posts_slider .post.format-video .cmsms_slider_post_cont_wrap {left: auto;right: -100%;}
.cmsms_posts_slider .post.format-gallery:hover .cmsms_slider_post_cont_wrap, .cmsms_posts_slider .post.format-image:hover .cmsms_slider_post_cont_wrap, .cmsms_posts_slider .post.format-standard:hover .cmsms_slider_post_cont_wrap, .cmsms_posts_slider .post.format-audio:hover .cmsms_slider_post_cont_wrap, .cmsms_posts_slider .post.format-video:hover .cmsms_slider_post_cont_wrap {left: auto;right: 0;}
.cmsms_posts_slider .post.format-quote .cmsms_slider_post_quote_content {padding-left: 20px;padding-right: 40px;}
.cmsms_posts_slider .post.format-quote .cmsms_slider_post_quote_content:before {left: auto;right: 11px;}
.cmsms_posts_slider .post.format-quote .cmsms_slider_post_quote_author {padding-right: 40px;}
.cmsms_posts_slider .post.format-chat .cmsms_slider_post_cont .cmsms_slider_post_chat .cmsms_chat_time {float: left;}
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner {left: 0;right: 0;}
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer {float: none;right: auto;left: 100%;}
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer .cmsmsLike, .cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer .cmsms_slider_project_comments {margin-right: 10px;}
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer > *:first-child {margin-right: 0;}
.cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_cont_wrap {left: auto;right: 0;}
.cmsms_posts_slider .project .slider_project_outer:hover figure .cmsms_img_rollover .cmsms_open_link {left: 0;right: 0;}
.cmsms_posts_slider .project .slider_project_outer:hover .cmsms_slider_project_footer {right: auto;left: 0;}
.cmsms_prev_arrow {padding-right: 10px;}
.cmsms_prev_arrow:before {left: auto;right: 0;}
.cmsms_twitter .owl-buttons > div .cmsms_next_arrow:before {right: 8px;}
.cmsms_next_arrow {padding-left: 10px;}
.cmsms_next_arrow:before {right: auto;left: 0;}
.button, .cmsms_button.cmsms_project_loader, .cmsms_button.cmsms_post_loader, .comment-reply-link, #cancel-comment-reply-link, input[type="submit"], input[type="button"], button {text-align: center;}
.cmsms_button.cmsms_but_bg_slide_top:after {left: auto;right: 0;}
.cmsms_button.cmsms_but_bg_slide_bottom:after {left: auto;right: 0;}
.cmsms_button.cmsms_but_bg_slide_right:after {right: auto;left: 0;}
.cmsms_button.cmsms_but_bg_slide_left:after {left: auto;right: 0;}
.cmsms_button.cmsms_but_bg_expand_vert:after {left: auto;right: 50%;}
.cmsms_button.cmsms_but_bg_expand_hor:after {left: auto;right: 50%;}
.cmsms_button.cmsms_but_bg_expand_diag:after {left: auto;right: 50%;}
.cmsms_button.cmsms_but_shadow {-webkit-box-shadow: inset 0 -3px 0 0 rgba(0,0,0,.02);-moz-box-shadow: inset 0 -3px 0 0 rgba(0,0,0,.02);box-shadow: inset 0 -3px 0 0 rgba(0,0,0,.02);}
.cmsms_button.cmsms_but_shadow:hover {-webkit-box-shadow: inset 0 0 0 0 rgba(0,0,0,.02);-moz-box-shadow: inset 0 0 0 0 rgba(0,0,0,.02);box-shadow: inset 0 0 0 0 rgba(0,0,0,.02);}
.cmsms_button.cmsms_but_icon_dark_bg:before, .cmsms_button.cmsms_but_icon_light_bg:before, .cmsms_button.cmsms_but_icon_divider:before, .cmsms_button.cmsms_but_icon_inverse:before {left: auto;right: 0;}
.cmsms_button.cmsms_but_icon_dark_bg:after, .cmsms_button.cmsms_but_icon_light_bg:after, .cmsms_button.cmsms_but_icon_divider:after, .cmsms_button.cmsms_but_icon_inverse:after {left: auto;right: 0;}
.cmsms_button.cmsms_but_icon_divider:after {border-left-width: 1px;border-left-style: solid;}
.cmsms_button.cmsms_but_icon_slide_left:before {left: auto;right: -40px;}
.cmsms_button.cmsms_but_icon_slide_left:hover:before {left: auto;right: 0;}
.cmsms_button.cmsms_but_icon_slide_right:before {left: -40px;right: auto;}
.cmsms_button.cmsms_but_icon_slide_right:hover:before {right: auto;left: 0;}
.cmsms_button.cmsms_but_icon_hover_slide_left:before, .cmsms_button.cmsms_but_icon_hover_slide_right:before, .cmsms_button.cmsms_but_icon_hover_slide_top:before, .cmsms_button.cmsms_but_icon_hover_slide_bottom:before {left: 0;right: 0;}
.cmsms_button.cmsms_but_icon_hover_slide_left:before {left: auto;right: -200%;}
.cmsms_button.cmsms_but_icon_hover_slide_left:hover:before {left: auto;right: 0;}
.cmsms_button.cmsms_but_icon_hover_slide_right:before {right: auto;left: -200%;}
.cmsms_button.cmsms_but_icon_hover_slide_right:hover:before {right: auto;left: 0;}
.cmsms_paypal_donations > form:hover + .cmsms_button.cmsms_but_shadow {-webkit-box-shadow: inset 0 0 0 0 rgba(0,0,0,.02);-moz-box-shadow: inset 0 0 0 0 rgba(0,0,0,.02);box-shadow: inset 0 0 0 0 rgba(0,0,0,.02);}
.cmsms_paypal_donations > form:hover + .cmsms_button.cmsms_but_icon_slide_left:before {left: auto;right: 0;}
.cmsms_paypal_donations > form:hover + .cmsms_button.cmsms_but_icon_slide_right:before {right: auto;left: 0;}
.cmsms_paypal_donations > form:hover + .cmsms_button.cmsms_but_icon_hover_slide_left:before {left: auto;right: 0;}
.cmsms_paypal_donations > form:hover + .cmsms_button.cmsms_but_icon_hover_slide_right:before {right: auto;left: 0;}
.wp-caption .wp-caption-text {text-align: center;}
.wp-caption.alignright {margin-right: 20px;}
.wp-caption.alignleft {margin-left: 20px;}
.cmsms_img.cmsms_image_l {float: right;margin-left: 18px;}
.cmsms_img.cmsms_image_r {float: left;margin-right: 18px;}
.cmsms_img .cmsms_img_caption {text-align: center;}
.resizable_block .google_map {left: auto;right: 0;}
q, blockquote {padding-left: 0;padding-right: 55px;}
q:before, blockquote:before {content: "“";left: auto;right: 0;}
.cmsms_dropcap {float: right;}
.cmsms_dropcap.type2 {text-align: center;margin-left: 25px;margin-right: 0;}
.social_vertical .share_wrap {float: none;}
.share_wrap {float: right;}
.cmsms_sidebar aside {float: right;}
.sidebar_layout_11 aside {float: none;}
.widget_nav_menu .menu > li > ul > li > a {padding-right: 10px;}
.widget_nav_menu .menu > li > ul > li > ul > li > a {padding-right: 20px;}
.widget_nav_menu .menu > li > ul > li > ul > li > ul > li > a {padding-right: 30px;}
.widget_nav_menu ul li > a {border-right-width: 4px;border-right-style: solid;border-left-width: 0;}
.sidebar .widget_nav_menu .menu {margin-right: -19px;margin-left: 0;}
.sidebar .widget_nav_menu .menu > li > a {padding-right: 30px;}
.sidebar .widget_nav_menu .menu > li > ul > li > a {padding-right: 40px;}
.sidebar .widget_nav_menu .menu > li > ul > li > ul > li > a {padding-right: 50px;}
.sidebar .widget_nav_menu .menu > li > ul > li > ul > li > ul > li > a {padding-right: 60px;}
.sidebar.fl .widget_nav_menu .menu {margin-left: -19px;margin-right: 0;}
.sidebar.fl .widget_nav_menu .menu li > a {border-left-width: 4px;border-right-width: 0;}
.sidebar.fl .widget_nav_menu .menu > li > a {padding-right: 10px;}
.sidebar.fl .widget_nav_menu .menu > li > ul > li > a {padding-right: 20px;}
.sidebar.fl .widget_nav_menu .menu > li > ul > li > ul > li > a {padding-right: 30px;}
.sidebar.fl .widget_nav_menu .menu > li > ul > li > ul > li > ul > li > a {padding-right: 40px;}
.widget_custom_advertisement_entries .adv_image_wrap .adv_widget_image {float: right;}
.widget_archive ul, .widget_recent_comments ul, .widget_recent_entries ul, .widget_meta ul, .widget_categories ul, .widget_pages ul {padding-right: 0;}
.widget_pages ul ul, .widget_categories ul ul {margin-right: 0;}
.contact_widget_name, .contact_widget_email, .contact_widget_phone, .adress_wrap {padding-right: 33px;}
.contact_widget_email:before, .contact_widget_phone:before, .adress_wrap:before {left: auto;right: 0;}
.adress_wrap:before {left: auto;right: 2px;}
.contact_widget_phone:before {left: auto;right: 2px;}
#wp-calendar caption {text-align: right;}
#wp-calendar caption:before {content: "";margin-left: 10px;margin-right: 2px;}
.widget_custom_flickr_entries .flickr_badge_image {float: right;}
.tweet_list li {padding-left: 20px;padding-right: 30px;}
.tweet_list li:before {text-align: center;left: auto;right: -12px;}
.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item {padding-right: 2px;}
.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item:first-child {padding-right: 0;}
.cmsms_tabs.lpr .cmsms_tabs_list .cmsms_tabs_list_item > a {text-align: center;-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;}
.cmsms_tabs.lpr .cmsms_tabs_wrap {-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;}
.cmsms_tabs.lpr .alignleft {float: right;margin-left: 20px;margin-right: 0;}
.rsswidget img {margin-left: 3px;margin-right: 0;}
.img_placeholder_small:before {left: 0;right: 0;}
.widget_custom_popular_projects_entries .img_placeholder:before, .widget_custom_latest_projects_entries .img_placeholder:before {left: 0;right: 0;}
.widget_custom_popular_projects_entries .owl-buttons, .widget_custom_latest_projects_entries .owl-buttons {left: 0;right: auto;}
.widget_custom_popular_projects_entries .owl-buttons > div .cmsms_next_arrow:before, .widget_custom_latest_projects_entries .owl-buttons > div .cmsms_next_arrow:before {left: 0;}
.widget_custom_popular_projects_entries .owl-buttons .owl-prev, .widget_custom_latest_projects_entries .owl-buttons .owl-prev {left: -5px;}
.widget_custom_popular_projects_entries .owl-buttons > div.owl-next, .widget_custom_latest_projects_entries .owl-buttons > div.owl-next {left: 14px;}
.widget_custom_popular_projects_entries .cmsmsLike, .widget_custom_latest_projects_entries .cmsmsLike {float: left;}
.cmsms_posts_slider .owl-controls .owl-buttons .cmsms_next_arrow:before, .cmsms_posts_slider .owl-controls .owl-buttons .cmsms_prev_arrow:before {right: auto;}
.cmsms_pricing_item .cmsms_button:before {margin-left: .5em !important;margin-right: 0 !important;}
.search_bar_wrap input[type=text] {float: right;}
.search_bar_wrap button[type=submit] {float: left;}
.search_bar_wrap button[type=submit].cmsms_theme_icon_search {margin-left: 13px;margin-right: 0;}
.wpcf7-list-item-label, body .cmsms-form-builder .check_parent input[type="checkbox"] + label, body .cmsms-form-builder .check_parent input[type="radio"] + label {padding-right: 25px;float: right;}
.cmsms-form-builder .check_parent input[type="checkbox"], .cmsms-form-builder .check_parent input[type="radio"], .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"], .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] {left: auto;right: 0;float: right;}
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:after, .cmsms-form-builder .check_parent input[type="checkbox"] + label:after {left: auto;right: 4px;}
.cmsms-form-builder .check_parent input[type="radio"] + label:after, .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:after {left: auto;right: 4px;}
.wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="checkbox"] + span.wpcf7-list-item-label:before, .cmsms-form-builder .check_parent input[type="checkbox"] + label:before, .wpcf7 form.wpcf7-form span.wpcf7-list-item input[type="radio"] + span.wpcf7-list-item-label:before, .cmsms-form-builder .check_parent input[type="radio"] + label:before {text-align: center;left: auto;right: 0;}
.widget_custom_colored_blocks_entries .widget_colored_cell .button_widget {padding-left: 15px;}
.widget_custom_colored_blocks_entries .widget_colored_cell .button_widget:before {right: auto;left: 0;}
.cmsms_search .cmsms_search_post {padding-left: 60px;}
.cmsms_search .cmsms_search_post .cmsms_search_post_number {margin-left: 40px;margin-right: 5px;text-align: center;float: right;}
.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_cont_info > span {margin-right: 5px;}
.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_cont_info > span:first-child {margin-right: 0;}
.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_footer .cmsms_search_post_meta_info {float: left;}
.cmsms_search .cmsms_search_post .cmsms_search_post_cont .cmsms_search_post_footer .cmsms_search_post_meta_info .cmsms_search_post_date {margin-right: 0;}
.cmsms_sitemap_wrap .cmsms_sitemap > li:before {left: auto;right: 0;}
.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li {padding-left: 20px;float: right;}
.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul li {margin-right: 20px;}
.cmsms_sitemap_wrap .cmsms_sitemap > li > ul > li > ul > li {margin-right: 0;}
.cmsms_sitemap_wrap .cmsms_sitemap_category > li {padding-left: 20px;float: right;}
.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul li {margin-right: 20px;}
.cmsms_sitemap_wrap .cmsms_sitemap_category > li > ul > li {margin-right: 0;}
.cmsms_sitemap_wrap .cmsms_sitemap_archive > li {padding-left: 20px;float: right;}
.error .search_bar_wrap {border-right-color: undefined;}
.error .error_subtitle {text-align: center;}
.error .error_title {text-align: center;}
.error .error_button_wrap {text-align: center;}
.cmsms_paypal_donations > form > .paypal-donations input[type="image"] {left: 0;right: 0;}
html.csstransitions .cmsms_posts_slider .post.format-gallery .cmsms_slider_post_cont_wrap, html.csstransitions .cmsms_posts_slider .post.format-image .cmsms_slider_post_cont_wrap, html.csstransitions .cmsms_posts_slider .post.format-standard .cmsms_slider_post_cont_wrap, html.csstransitions .cmsms_posts_slider .post.format-audio .cmsms_slider_post_cont_wrap, html.csstransitions .cmsms_posts_slider .post.format-video .cmsms_slider_post_cont_wrap {-webkit-transition: right .5s ease-in-out;-moz-transition: right .5s ease-in-out;-ms-transition: right .5s ease-in-out;-o-transition: right .5s ease-in-out;transition: right .5s ease-in-out;}
html.csstransitions .cmsms_posts_slider .project .slider_project_outer .slider_project_inner .cmsms_slider_project_footer, html.csstransitions .portfolio.puzzle .project .project_outer .project_inner .cmsms_project_footer {-webkit-transition: left .4s ease;-moz-transition: left .4s ease;-ms-transition: left .4s ease;-o-transition: left .4s ease;transition: left .4s ease;}