html,
body {
   margin:0;
   padding:0;
   height:100%;
   font-family: Helvetica, sans-serif;
}

#container {
   min-height:100%;
   position:relative;
}

#header {
    background-color: #333333;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 5;
    padding: 35px;
}

#header p {
    color: #fff;
    display: inline;
    font-weight: 600;
    font-size: 18px;
    margin: 20px 20px;
}

#header a{
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin: 20px 20px;
    text-decoration: none;
}

#body {
   padding:70px;
   padding-bottom:60px;
   width: 50%;
   margin: 0 auto;
   text-align: center;   
}

#body h1, #body h2 {
    text-align: left;
}

#body p {
    text-align: justify;
    font-size: 18px;
}

#body ul li {
    text-align: left;
    font-size: 18px;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   background-color: #333;
   color: #fff;
   padding: 30px 0;
}

#footer p {
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
}

#member {
    text-align: left;
}